<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.CommentMapper">

   <sql id="commentColumns">
       idx
      ,board_idx
      ,content
      ,writer
      ,delete_yn
      ,insert_time
      ,update_time
      ,delete_time
   
   </sql>
   
   <insert id="insertComment" parameterType="CommentDTO">
         insert into tb_comment (
              <include refid="commentColumns" />
         )values (
			  #{idx}
			, #{boardIdx}
			, #{content}
			, #{writer}
			, IFNULL(#{deleteYn}, 'N')
			, NOW()
			, NULL
			, NULL
		)
    </insert>
    
    <select id="selectCommentDetail" parameterType="long" resultType="CommentDTO">
		SELECT
			<include refid="commentColumns" />
		FROM
			tb_comment
		WHERE
			delete_yn = 'N'
		AND
			idx = #{idx}
	</select>
    




</mapper>